@font-face  {
  font-family: 'JetBrains Mono Nerd Font';
  src: url('../fonts/JetBrainsMonoNerdFont-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

body {
  font-family: 'JetBrains Mono Nerd Font', monospace;
  background-color: #282c34;
  color: white;
}

.Header {
  padding: .2em .5em;
  border-bottom: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.Header-contacts {
  display: flex;
  gap: 1em;
}

.Header-contacts a {
  text-decoration: none;
  color: white;
}

.Input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
  padding: .5em .5em;
}

.Input-Box {
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
}

.Input-Box input {
  width: 32em;
}

.Input-Box button {
  padding: 0 .2em;
}
